/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

@media (prefers-color-scheme: theme_dark) {
  :root {
    --background-color: #0b121f;
    --active_color: #b0bce1;
    --example_color: #8a8a8a;
    --paper_image: url(../images/paper_list_inverse.png);
  
    --input_background-image: repeating-linear-gradient(#5f8fbfbf 0 2%, #1c2f4dbf 6%, #0b121f 25% 75%, #1c2f4dbf 94%, #5f8fbfbf 98% 100%);
  
    --page_background-image: linear-gradient(#0b121f70, #0b121f70), radial-gradient(circle, #0b121fbf 87%, #6086d7bf 108%, #8a6e2fbf 103%), repeating-linear-gradient( #0b121f 0px 10px, #1c2f4d 17px, #5f8fbf 15px, #1c2f4d 16px, #0b121f 20px 30px);
  }
}

.theme-light {
  --background-color: #f4ede0;
  --active_color: #4f431e;
  --example_color: rgb(117, 117, 117);
  --paper_image: url(../images/paper_list.png);

  --input_background-image: repeating-linear-gradient(#a07040bf 0 2%, #e3d0b2bf 6%, #f4ede0 25% 75%, #e3d0b2bf 94%, #a07040bf 98% 100%);

  --page_background-image: linear-gradient(#f4ede070, #f4ede070), radial-gradient(circle, #f4ede0bf 87%, #9f7928bf 108%, #8a6e2fbf 103%), repeating-linear-gradient( #f4ede0 0px 10px, #e3d0b2 17px, #a07040 15px, #e3d0b2 16px, #f4ede0 20px 30px);
}

.theme_dark {
  --background-color: #0b121f;
  --active_color: #b0bce1;
  --example_color: #8a8a8a;
  --paper_image: url(../images/paper_list_inverse.png);

  --input_background-image: repeating-linear-gradient(#5f8fbfbf 0 2%, #1c2f4dbf 6%, #0b121f 25% 75%, #1c2f4dbf 94%, #5f8fbfbf 98% 100%);

  --page_background-image: linear-gradient(#0b121f70, #0b121f70), radial-gradient(circle, #0b121fbf 87%, #6086d7bf 108%, #8a6e2fbf 103%), repeating-linear-gradient( #0b121f 0px 10px, #1c2f4d 17px, #5f8fbf 15px, #1c2f4d 16px, #0b121f 20px 30px);
}
